<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewlevada.carephone">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

<!--    <uses-permission android:name="android.permission.SEND_SMS" />-->
<!--    <uses-permission android:name="android.permission.RECEIVE_SMS" />-->

    <application
        android:allowBackup="true"
        android:configChanges="orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" />

        <service
            android:name=".logic.blockers.Blocker_L_to_N_MR1"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall" />

        <service
            android:name=".logic.blockers.Blocker_O"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".logic.blockers.Blocker_P"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:permission="android.permission.READ_PHONE_STATE"/>

        <receiver android:name=".logic.blockers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".logic.blockers.SMSReceiver$Receiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.HelloActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.AuthActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.TutorialActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.CaretakerListActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.ContactDevActivity" />
    </application>

</manifest>